<%# Update the status badge %>
<%= turbo_stream.replace "#{dom_id(@post)}_status" do %>
  <span class="inline-flex items-center px-2.5 py-1 rounded-md text-xs font-medium bg-green-100 text-green-800" 
        data-status-badge
        id="<%= dom_id(@post) %>_status">
    Read
  </span>
<% end %>

<%# Remove the read button since post is now read %>
<%= turbo_stream.update "#{dom_id(@post)}_card" do %>
  <%= render 'posts/post_card', post: @post %>
<% end %>